.Content-container{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #0D1117, #161B22, #0D1117);;
    background-position: left;
}

.Content-header{
    display: flex;
    justify-content: center;
}

.Content-header h1{
    margin-right: 30px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
}

.Content-content{
    display: flex;
    justify-content: center;
}

.Content-content input , button{
    height: 40px;
    box-sizing: border-box;
}

.Content-content input {
    font-size: medium;
    width: 550px;
    background: none;
    border: 1px solid white;
    color: white;
}



.Content-content button{
    width: 80px;
}

.Content-description{
    text-align: center;
    margin-bottom: 30px;
}

.Content-description p{
    color: aliceblue;
}

.Content-icon{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}